body {
  background-color:  #dcefdc;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #4CAF50;
}

img {
  width:60px;
  height:60px;
}



a {
  float: left;
  margin-right:20px;
  color: #6F6F6F;
  text-decoration: underline;
  font-weight:bold;
}

div#datetime {
  font-size: 80%;
}

#navlink{
  	float: left;
	color: #dcefdc;
	font-size: 20px;
}