body {
  background-color:  #dcefdc;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #4CAF50;
}

img {
  width:60px;
  height:60px;
}



a {
  float: left;
  margin-right:20px;
  color: #6F6F6F;
  text-decoration: underline;
  font-weight:bold;
}

div#datetime {
  font-size: 80%;
}

#navlink{
  	float: left;
	color: #dcefdc;
	font-size: 20px;
}

.sidebar h2{
	color: #dcefdc;
	font-size: 20px;
	font-weight:bold;
}
.sidebar p{
	color: #dcefdc;
	font-size: 14px;
}

.sidebar img{
	width:20px;
  height:20px;

}

.caret {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #dcefdc;
}

#universiteler img{

  width:30px;
  height:30px;
}

