{% extends "home.html" %}

{% block title %} Gruplar {% endblock %}

{% block content %}

	<h1>Gruplar</h1>
	<hr>
	<div class = "row">
		<div class = "col-md-3">
			<!-- Title -->
			<h2>Yazılım & Teknoloji </h2>
			<!-- Description -->
			<p>Yazılım mühendisleri ve teknolojiyi takip edenler için oluşturulmuş bir topluluk. Sen de bize katıl!</p>
			<!-- Group Image -->
			<img style= "width:300px;heigth=300px"src = "static/images/software.jpg" class="img-responsive">
			<!-- Join Button -->
			<button type="button" class="btn btn-success">Katıl!</button>
		</div>

		<div class = "col-md-3">
			<!-- Title -->
			<h2>Finans Klubü </h2>
			<!-- Description -->
			<p>Finans sektöründe çalışanlar, firma sahipleri, ve girişimciler için eşsiz bir kaynak. Bu grup ile finans konusunda yeni gelişmeleri kaçırmadan güncel piyasaları takip ederek doğru kararlar alabileceksiniz. Hemen gruba katılın ve tartışmaya başlayın!</p>
			<!-- Group Image -->
			<img style= "width:300px;heigth=300px"src = "static/images/finance.jpg" class="img-responsive">
			<!-- Join Button -->
			<button type="button" class="btn btn-success">Katıl!</button>
		</div>

		<div class = "col-md-3">
				<!-- Title -->
				<h2>Digital Marketing </h2>
				<!-- Description -->
				<p>We know marketing! Discussions on current trends, close scope on money exchange and tips and tricks for new entrepreneur. Join us and enjoy great discussioons!</p>
				<!-- Group Image -->
				<img style= "width:300px;heigth=300px"src = "static/images/marketing.jpeg" class="img-responsive">
				<!-- Join Button -->
				<button type="button" class="btn btn-success">Join!</button>
		</div>

		<div class = "col-md-3">
			<!-- Title -->
			<h2>Mühendisler Topluluğu </h2>
			<!-- Description -->
			<p>Mühendisler ve mühendis adaylarını buluşturan bu toplulukta pratik bilgiler, iş ilanları, sektöre ilişkin başlıklar ve çok daha fazlasını bulacaksınız.</p>
			<!-- Group Image -->
			<img style= "width:300px;heigth=300px"src = "static/images/muhendis.jpg" class="img-responsive">
			<!-- Join Button -->
			<button type="button" class="btn btn-success">Katıl!</button>
		</div>
	</div>

{% endblock %}