{% extends "home.html" %}

{% block title %}Hobiler{% endblock %}

{% block content %}

	<h1>Ilgi Alanlari</h1>
	<hr>
	<div class = "row">

	{%for id, isim, resim , alan, koordinator, aciklama in hobiler%}

			<div class = "col-md-3">
			<!-- Hobi Adi -->
			<h2>{{isim}}</h2>
			<!-- Hobi resmi -->
			<img style= "width:300px;heigth=300px"src = "static/images/hobiler/{{resim}}" class="img-responsive">
			<!-- Aciklamar-->
			<p style= "font-size: 13pt;color: #00CED1;"> Alan Grubu: </p>
			<p>{{alan}}</p>
			<p style= "font-size: 13pt;color: #00CED1;">Koordinator: </p>
			<p>{{koordinator}}</p>
			<p style= "font-size: 13pt;color: #00CED1;">Aciklama: </p>
			<p>{{aciklama}}</p>		
			<a class="btn btn-large btn-info" href= "{{ url_for('hobiler_update_page',hobi_id=id)}}">Ilgi Alanini Duzenle</a>
			<button type="button" action=" class="btn btn-success">Daha Fazla!</button>
			</div>

		{%endfor%}

	</div>
	<hr>
	<div class = "row">

		<!-- Yeni Ilgi Alani ekleme kismi  -->
		
		    <h2>Yeni Ilgi Alani Ekle!</h2>
            <form id="add" action="{{ url_for('hobiler_sayfasi')}}" method = "post">
            	 <div class="form-group">
				  		<label for="usr">Ilgi Alani:</label>
						<input class="form-control" size="7" value="{{isim}}" form ="add" type="text" placeholder="Ilgi alani ismi" name="isim">
				  </div>
				  <div class="form-group">
				  		<label for="usr">Resim URL'si:</label>
		          		<input class="form-control" size="7" value="{{resim}}" form ="add" type="text" placeholder="Resim url'si" name="resim">
				  </div>
                  <div class="form-group">
				  		<label for="usr">Alan Adi:</label>
						<input class="form-control" size="7" value="{{alan}}" form ="add" type="text" placeholder="Alan Adi" name="alan">
				  </div>
				    <div class="form-group">
  						<label for="sell">Koordinator:</label>
				  		<select class="form-control" id="sel1" name="kisiler_isim" form="add">
					 	{%for id, isim in kisiler%}
					    	<option value = "{{id}}" >{{isim}}</option>
					    {%endfor%}
					 </select>
				  </div>
				  <div class="form-group">
				  		<label for="usr">Aciklama:</label>
						<input class="form-control" size="7" value="{{aciklama}}" form ="add" type="text" placeholder="Aciklama" name="aciklama">
				  </div>
                  <input class="add" form="add" id="hobiler_form_add" value="Ilgi Alani Ekle!" name="add" type="submit">
			</form>

		</div>
		<hr>
		<div class = "row">
			
			<h2>Ilgi Alani Ara!</h2>
			<form id="search" action="{{ url_for('hobiler_sayfasi')}}" method = "post">
				<div class="form-group">
				  		<label for="usr">Ilgi Alani Arama:</label>
		          		<input class="form-control" size="7" form ="search" type="text" placeholder="Ilgi alani ismini yaziniz." name="aranan">
				  </div>
                  <input class="search" form="search" id="hobiler_form_add" value="Ara!" name="search" type="submit">
            </form>
            
		</div>
		
{% endblock %}
