<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />

	<!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">

    <title>{% block title %}ConnectLife{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	{% block style %}{% endblock %}

  </head>
  <body>
  <div class="row" style="border-radius: 50px;">
	<div class="row" style="background-color:#2e4756;">
		<div class="col-md-1">
    		<a href="{{ url_for('home_page') }}"><img style = " width:60px;height:60px;"src="static/images/connectlife.png" alt="Connect to Life"></a>
     	</div>
     	<div class="col-md-3">
    		<h1>ConnectLife</h1>
    	</div>
	</div>

	<div class="row navbar1" style="background-color:#2e4756">

		<a id="navlink" >Haberler</a>
	    <a id="navlink" >İş İlanları</a>
	    <a id="navlink" >Şirketler</a>
	    <a id="navlink" >Gruplar</a>
	    <a id="navlink"  href = "{{ url_for('universiteler_sayfasi') }}">Üniversiteler</a>
	    <a id="navlink"  href="{{ url_for('gruplar_sayfasi') }}">Gruplar</a>
	    <a id="navlink"  href="{{ url_for('kisiler_sayfasi') }}">Kişiler</a>
	</div>
</div>


	<div class="row">

		<div class="col-md-9">
			{% block content %}{% endblock %}
		</div>
		<div class="col-md-3 container-fluid" style="background-color:#5d737e;">
		asdasdas
		</div>
	</div>





    <footer class="row">
      <div class="row" style="background-color:#2e4756">
      	<div id="datetime" class= "col-md-offset-5"><p style="color:#dcefdc;font-size:16px">{{ current_time }}</div>
      </div>
    </footer>
  </body>
</html>
