<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />

	<!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">

    <title>{% block title %}ConnectLife{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	{% block style %}{% endblock %}

<!-- Sidebarin acilmasi icin gerekli javascript -->
	<script>
	function showDiv() {
		var x = document.getElementById('sidebar');

	    if (x.style.visibility === 'hidden') {
	        x.style.visibility = 'visible';
	    } else {
	        x.style.visibility = 'hidden';
	    }
	}
	</script>



  </head>
  <body>
  <div class="row" style="border-radius: 50px;">
	<div class="row" style="background-color:#2e4756;">
		<div class="col-md-1">
    		<a href="{{ url_for('home_page') }}"><img style = " width:60px;height:60px;"src="static/images/connectlife.png" alt="Connect to Life"></a>
     	</div>
     	<div class="col-md-3">
    		<h1>ConnectLife</h1>
    	</div>
	</div>

	<div class="row navbar1" style="background-color:#2e4756">

		<a id="navlink" >Haberler</a>
	    <a id="navlink" href = "{{ url_for('isilanlari_sayfasi') }}">İş İlanları</a>
	    <a id="navlink" href = "{{ url_for('sirketler_sayfasi') }}">Şirketler</a>
	    <a id="navlink"  href = "{{ url_for('universiteler_sayfasi') }}">Üniversiteler</a>
	    <a id="navlink"  href="{{ url_for('gruplar_sayfasi') }}">Gruplar</a>
	    <a id="navlink"  href="{{ url_for('kisiler_sayfasi') }}">Kişiler</a>
	    <a id="navlink" >Profil</a>
		<span type="button" class="caret pull-right" style = "font-size:30px;" onclick="showDiv()"></span>

	</div>
</div>


	<div class="row">

		<div class="col-md-9">
			{% block content %}

			<div class="row" id = "universiteler">
				<h3>Popüler Şirketler</h3>


				<p style = "font-weight: bold;">Mercedes-Benz Türk A.Ş. </p>

				<p>
					Quisque vel tempus lectus,
				   vitae commodo nulla. Morbi pulvinar, est non facilisis accumsan,
				   erat eros elementum erat, a porttitor neque sapien at nibh. Morbi eu cursus
				   ligula. Nullam leo leo, rutrum pellentesque mi tristique, tempus egestas elit.
				   Mauris iaculis ligula sit amet eleifend tempor. Integer vulputate venenatis
				   nulla vitae suscipit. Nunc rhoncus, sapien quis gravida volutpat, arcu magna
				   dignissim mauris, sed venenatis magna arcu non ante.</p>

						<p style = "font-weight: bold;">Softtech Yazılım Teknolojileri Araştırma Geliştirme A.Ş.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Etiam condimentum at nunc maximus condimentum.
				Donec congue felis et ultricies lobortis. Duis volutpat,
				 libero a ornare sagittis, mauris metus accumsan mi,
				  consectetur fringilla metus magna et massa.Fusce id dolor et erat rutrum euismod.
				  Nulla facilisi.Nulla tincidunt, nisi et maximus ornare, lacus quam consequat sapien,
				 in tincidunt purus turpis ac elit. Duis ultrices tellus nec magna hendrerit,
				  sed dapibus metus dignissim. Phasellus non nunc massa.
				Proin iaculis urna a sapien tincidunt finibus.</p>
			</div>


			<div class="row" id = "universiteler">
				<h3>Üniversitelerden Yeni Gönderiler</h3>

				<div class="row">
					<div class = "col-md-1 ">
						<img class = "pull-right" src="/static/images/universities/itu.jpg">
					</div>
					<div class = "col-md-3">
						<p style = "font-weight: bold;">İstanbul Teknik Üniversitesi</p>
					</div>
				</div>

				<p>
				Nulla tincidunt, nisi et maximus ornare, lacus quam consequat sapien,
				 in tincidunt purus turpis ac elit. Duis ultrices tellus nec magna hendrerit,
				  sed dapibus metus dignissim. Phasellus non nunc massa. Quisque vel tempus lectus,
				   vitae commodo nulla. Morbi pulvinar, est non facilisis accumsan,
				   erat eros elementum erat, a porttitor neque sapien at nibh. Morbi eu cursus
				   ligula. Nullam leo leo, rutrum pellentesque mi tristique, tempus egestas elit.
				   Mauris iaculis ligula sit amet eleifend tempor. Integer vulputate venenatis
				   nulla vitae suscipit. Nunc rhoncus, sapien quis gravida volutpat, arcu magna
				   dignissim mauris, sed venenatis magna arcu non ante.</p>

				<div class="row">
					<div class = "col-md-1 ">
						<img class = "pull-right" src="/static/images/universities/bogazici.png">
					</div>
					<div class = "col-md-3">
						<p style = "font-weight: bold;">Boğaziçi Üniversitesi</p>
					</div>
				</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Etiam condimentum at nunc maximus condimentum.
				Donec congue felis et ultricies lobortis. Duis volutpat,
				 libero a ornare sagittis, mauris metus accumsan mi,
				  consectetur fringilla metus magna et massa.Fusce id dolor et erat rutrum euismod.
				  Nulla facilisi.
				Proin iaculis urna a sapien tincidunt finibus.</p>
			</div>



			{% endblock %}
			<hr>
		</div>

		<!-- Sidebar bu kisimdan itibaren basliyor. -->
		<div class="col-md-3 sidebar" id="sidebar" style="background-color:#5d737e;">
			<h2>İlgilenebileceğiniz İş İlanları</h2>
			<p>ARÇELİK A.Ş - Software Engineer</p>
			<p>ASELSAN ELEKTRONİK SAN. VE TİC. A.Ş.- PCB Tasarım Mühendisi</p>
			<p>VESTEL A.Ş.- IT Uzmanı</p>

			<hr>
			<h2>Popüler Gruplar</h2>
			<p>Yazılım & Teknoloji</p>
			<p>Finans Klubü </p>
			<p>Digital Marketing</p>
			<p>Mühendisler Topluluğu</p>
			<hr>
			<h2>Tanıyor Olabileceğiniz Kişiler</h3>
				<div class = "col-md-1">
					<img src="/static/images/profil1.jpg">

				</div>
				<div class = "col-md-2">
					<p>Tugba Özkal</p>
				</div>

				<div class = "col-md-1">
					<img src="/static/images/profil2.jpg">
				</div>
				<div class = "col-md-2">
					<p>Furkan Evirgen</p>
				</div>
			<br><br><hr>

		</div>
	</div>





    <footer class="row">
      <div class="row" style="background-color:#2e4756">

      	<div id="datetime" class= "col-md-offset-5">
      	<p style="color:#dcefdc;font-size:16px">{{ current_time }}</div>
      </div>
    </footer>
  </body>
</html>
