<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ConnectLife</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <img src="static/images/connectlife.png" alt="Connect to Life">
    <h1>ConnectLife</h1>

	<a>Haberler</a>
    <a>İş İlanları</a>
    <a>Şirketler</a>
    <a>Gruplar</a>
    <a href="/kisiler">Kişiler</a>




    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
