{% extends "home.html" %}

{% block title %}Is ilanlari{% endblock %}

{% block content %}

	<h1>İş İlanları</h1>
	<hr>
	<div class = "row">

	{%for sirket, pozisyon, lokasyon, basvuru, tarih in isilanlari%}

			<div class = "col-md-3">
			<!-- Company -->
			<h2>{{sirket}}</h2>
			<!-- Position -->
			<p>{{pozisyon}}</p>
			<!-- Location -->
			<p>{{lokasyon}}</p>
			<!-- Application -->
			<p style= "font-size: 13pt;color: #00CED1;">Başvuru sayısı: </p>
			<p>{{basvuru}}</p>
			<!-- Date -->
			<p style= "font-size: 13pt;color: #00CED1;">İlan tarihi: </p>
			<p>{{tarih}}</p>
			</div>

		{%endfor%}

	</div>

{% endblock %}
