{% extends "home.html" %}

{% block title %} Kisiler {% endblock %}

{% block content %}

	<h1>Kisiler</h1>
	<hr>
	<div class = "row">

		{%for isim, resim, mekan, yas, universite, work in kisiler%}

			<div class = "col-md-3">
			<!-- Name -->
			<h2>{{isim}}</h2>
			<!-- Image -->
			<img style= "width:300px;heigth=300px;" src = "static/images/{{resim}}" class="img-responsive">
			<!-- Location -->
			<p>{{mekan}}</p>
			<!-- Age -->
			<p>{{yas}}</p>
			<!-- University -->
			<p>{{universite}}</p>
			<!-- Work -->
			<p>{{work}}</p>
			<!-- Join Button -->
			<button type="button" class="btn btn-success">Ekle!</button>
			</div>

		{%endfor%}


	</div>

{% endblock %}