{% extends "home.html" %}

{% block title %} Kisiler {% endblock %}

{% block content %}

	<h1>Kisiler</h1>
	<hr>
	<div class = "row">

		{%for id, isim, resim, mekan, yas, universite, work in kisiler%}

			<div class = "col-md-3">
			<!-- Name -->
			<h2>{{isim}}</h2>
			<!-- Image -->
			<img style= "width:300px;heigth=300px;" src = "static/images/{{resim}}" class="img-responsive">
			<!-- Location -->
			<p>{{mekan}}</p>
			<!-- Age -->
			<p>{{yas}}</p>
			<!-- University -->
			<p>{{universite}}</p>
			<!-- Work -->
			<p>{{work}}</p>
			<a class="btn btn-large btn-info" href= "{{ url_for('kisiler_update_page',kisi_id=id)}}">Kisiyi Duzenle</a>
			<!-- Add Button -->
			<button type="button" class="btn btn-success">Ekle!</button>
			</div>

		{%endfor%}

	</div>

	<hr>

	<div class = "row">

		<!-- Yeni kisi ekleme sayfası  -->
		    <h2>Yeni Kisi Ekle!</h2>
            <form id="add" action="{{ url_for('kisiler_sayfasi')}}" method = "post">
                  <div class="form-group">
  						<label for="usr">Isim:</label>
				  		<input class="form-control" size="7" form ="add" type="text" placeholder="Isim (Zorunlu)" name="isim" required="required">
				  </div>
                  <div class="form-group">
				  		<label for="usr">Resim URL'si:</label>
						<input class="form-control" size="7" form ="add" type="text" placeholder="Resim" name="resim">
				  </div>
				  <div class="form-group">
				  		<label for="usr">Yas</label>
		                <input class="form-control" size="7" form ="add" type="text" placeholder = "(Sayı ile Yazınız)" name="yas">
				  </div>
				  <div class="form-group">
				  		<label for="usr">Yasadigi yer:</label>
		          		<input class="form-control" size="7" form ="add" type="text" placeholder="Mekan (Zorunlu)" name="mekan" required="required">
                  </div>
				  <div class="form-group">
				  		<label for="usr">Universite:</label>
		          		<input class="form-control" size="7" form ="add" type="text" placeholder="Universite" name="universite">
				  </div>
				  <div class="form-group">
				  		<label for="usr">Calistigi yer:</label>
		          		<input class="form-control" size="7" form ="add" type="text" placeholder="Work" name="work">
				  </div>

                  <input class="add" form="add" id="kisiler_form_add" value="Ekle!" name="add" type="submit">
			</form>

		</div>
		<hr>
		<div class = "row">
			<h2>Kisi Ara!</h2>
			<form id="search" action="{{ url_for('kisiler_sayfasi')}}" method = "post">
				<div class="form-group">
				  		<label for="usr">Kisi Arama:</label>
		          		<input class="form-control" size="7" form ="search" type="text" placeholder="Aranacak anahtar kelimeyi yaziniz." name="aranankisi">
				  </div>
                  <input class="search" form="search" id="kisiler_form_add" value="Ara!" name="search" type="submit">
            </form>
		</div>

{% endblock %}