{% extends "home.html" %}

{% block title %}Makaleler{% endblock %}

{% block content %}

	<h1>Makaleler</h1>
	<hr>
	<div class = "row">

	{%for id, konu, baslik , yazar, tarih, uniname in makaleler%}

			<div class = "col-md-3">
			<!-- Makalenin konusu -->
			<h2>{{konu}}</h2>
			<!-- Makale adı -->
			<p>{{baslik}}</p>
			<!-- Yazar adı -->
			<p>{{yazar}}</p>
			<!-- Date -->
			<p style= "font-size: 13pt;color: #00CED1;">Yayın tarihi: </p>
			<p>{{tarih}}</p>
			<!-- Yayınlandığı üni. -->
			<p style= "font-size: 13pt;color: #00CED1;">Üniversite: </p>
			<p>{{uniname}}</p>		
			<a class="btn btn-large btn-info" href= "{{ url_for('makaleler_update_page',makale_id=id)}}">Makaleyi Duzenle</a>
			<button type="button" action=" class="btn btn-success">Tam metin!</button>
			</div>

		{%endfor%}

	</div>
	<hr>
	<div class = "row">

		<!-- Yeni makale ekleme kismi  -->
		    <h2>Yeni Makale Ekle!</h2>
            <form id="add" action="{{ url_for('makaleler_sayfasi')}}" method = "post">
            	 <div class="form-group">
				  		<label for="usr">Makalenin Konusu:</label>
						<input class="form-control" size="7" form ="add" type="text" placeholder=" Makalenin başlığı" required="required" name="konu">
				  </div>
                  <div class="form-group">
				  		<label for="usr">Makale Adi:</label>
						<input class="form-control" size="7" form ="add" type="text" placeholder=" Makalenin başlığı" required="required" name="baslik">
				  </div>
				  <div class="form-group">
				  		<label for="usr">Yazar Adi:</label>
		                <input class="form-control" size="7" form ="add" type="text" placeholder = "Yazarın adı" name="yazar" required="required">
				  </div>
				   <div class="form-group">
				  		<label for="usr">Yayın Tarihi:</label>
		          		<input class="form-control" size="7" form ="add" type="text" placeholder="(YYYY) formatinda olmalidir." name="tarih">
				  </div>
				    <div class="form-group">
  						<label for="sell">Universite:</label>
				  		<select class="form-control" id="sel1" name="university_name" form="add">
					 	{%for id, name in uniname%}
					    	<option value = "{{id}}" >{{name}}</option>
					    {%endfor%}
					 </select>
				  </div>
                  <input class="add" form="add" id="makaleler_form_add" value="Makale Ekle!" name="add" type="submit">
			</form>

		</div>
		<hr>
		<div class = "row">
			<h2>Makale Ara!</h2>
			<form id="search" action="{{ url_for('makaleler_sayfasi')}}" method = "post">
				<div class="form-group">
				  		<label for="usr">Makale Arama:</label>
		          		<input class="form-control" size="7" form ="search" type="text" placeholder="Aranacak anahtar kelimeyi yaziniz." name="aranan">
				  </div>
                  <input class="search" form="search" id="makaleler_form_add" value="Ara!" name="search" type="submit">
            </form>
		</div>
		
{% endblock %}
