{% extends "home.html" %}

{% block title %} Sirketler {% endblock %}

{% block content %}

	<h1>Sirketler</h1>
	<form action="{{ url_for('sirketler_sayfasi')}}" method = "post">

<hr id = sirket>
<div class = "row">
	{% for name, date, location, work_area, photo in sirket%}
	<div class = "col-md-3" id = sirket>
		<!-- Title -->
		<h2 id = sirket>{{name}}</h2>
		<!-- Description -->
		<p style= "font-size: 13pt;color: #00CED1;" id = sirket>Kuruluş Yılı: {{date}}</p>
		<p style= "font-size: 13pt;color: #00CED1;" id = sirket>Lokasyon: {{location}}</p>
		<p id = sirket>{{work_area}}</p>
		<!-- Group Image -->
		<img style= "width:300px;heigth=300px"src = "static/images/{{photo}}" class="img-responsive">
	</div>
	{% endfor %}
</div>
</form>

{% endblock %}