
{% extends "home.html" %}
{% block title %} Universiteler {% endblock %}
{% block content %}

	<h1>Üniversiteler</h1>
	<hr>
	<div class = "row">

		{% for id, name, foundation_date, location, small_info, photo, rector_id in university%}
			<div class = "col-md-3">
			<!-- Title -->
			<h2>{{name}}</h2>
			<!-- Rector -->
			<p>Rektor: {{rector_id}}</p>
			<!-- Description -->
			<p style= "font-size: 13pt;color: #00CED1;">Kuruluş Yılı: {{foundation_date}}</p>
			<p style= "font-size: 13pt;color: #00CED1;">Lokasyon: {{location}}</p>
			<p>{{small_info}}</p>
			<!-- Group Image -->
			<img style= "width:300px;heigth=300px"src = "static/images/universities/{{photo}}" class="img-responsive">
			<!-- Join Button -->
			<a class="btn btn-large btn-info" href= "{{ url_for('university_update_page',university_id=id)}}">Universite Bilgilerini Duzenle</a>
			<button type="button" class="btn btn-success">Daha Fazla</button>
			</div>
		{% endfor %}
	</div>

	<hr>
	<div class = "row">

		<!-- Adding new university page  -->
		    <h2>Yeni Universite Ekle!</h2>
            <form id="add" action="{{ url_for('universiteler_sayfasi')}}" method = "post">
                  <div class="form-group">
  						<label for="usr">Üniversite Adı: </label>
				  		<input class="form-control" size="7" form ="add" type="text" placeholder="Üniversite Adı (zorunlu)" name="name" required="required">
				  </div>
				  <div class="form-group">
  						<label for="sel1">Rektor:</label>
				  		<select class="form-control" id="sel1" name="rector_name" form ="add">
				  			{%for id, isim in rector%}
				  				<option value = "{{id}}">{{isim}}</option>
				  			{%endfor%}
				  		</select>
				  </div>
                  <div class="form-group">
				  		<label for="usr">Kuruluş Yılı(YYYY): </label>
						<input class="form-control" size="7" form ="add" type="date" placeholder="Kuruluş Yılı (zorunlu) (YYYY)" name="foundation_date" required="required">
				  </div>
				  <div class="form-group">
				  		<label for="usr">Lokasyon: </label>
		                <input class="form-control" rows ="5" size="7" form ="add" type="text" placeholder = "Lokasyon (zorunlu)" name="location" required="required">
				  </div>
				  <div class="form-group">
				  		<label for="usr">Kısa Bilgi (Üniversiteyi kısaca tanıtın):</label>
		          		<input class="form-control" size="7" form ="add" type="text" placeholder="Kısa Bilgi " name="small_info" >
                  </div>
				  <div class="form-group">
				  		<label for="usr">Resim URL'si:</label>
		          		<input class="form-control" size="7" form ="add" type="text" placeholder="Örnek: itu.jpg" name="photo">
				  </div>
                  <input class="add" form="add" id="university_form_add" value="Ekle!" name="add" type="submit">
			</form>

	</div>

	<hr>
		<div class = "row">
			<h2>Universite Ara</h2>
			<form id="search" action="{{ url_for('universiteler_sayfasi')}}" method = "post">
				<div class="form-group">
				  		<label for="usr">Universite Arama:</label>
		          		<input class="form-control" size="7" form ="search" type="text" placeholder="Aranacak universite ismini yaziniz." name="searched">
				  </div>
                  <input class="search" form="search" id="university_form_add" value="Ara!" name="search" type="submit">
            </form>
		</div>


{% endblock %}

